.plants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 80%;
}

.plants-title {
  text-align: center;
  background-color: #e5fff3;
  margin: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: normal;
  font-size: 2rem;
}
